.SearchFormSection {
  background-color: cornflowerblue;
  color: white;
  font-size: 1.05rem;
  margin-bottom: 8px;
}

.SearchInputLabel {
  display: block;
  margin-bottom: 0.35rem;
  font-size: 1.1em;
}

.SearchInputAndButtonRow {
  display: flex;
  gap: 0.35rem;
  margin-bottom: 0.1rem;
}

#searchInput {
  flex: 1;
}
